
         <div id="contentEditable">
     
                    
                    <div style="background-color: lightblue;">
                        <h3 style="padding-left: 40px;padding-top:20px;color: #AA7439"><h3 style="text-align:center;"> About Me </h3>
                        <div style="width: 100%;height:100%;background-color:lightblue;">
                            <img src="./Assets/images/laxman.jpeg" alt="Security for Life" width="175" style="float: right;margin-left: 30px;margin-right:30px">
                           <p style="padding-left:15px; padding-right: 10px; color:#696969;margin:20px;text-align: justify;line-height:1.7;padding-bottom: 20px;">
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Civil Homes REALTORS® is a small, family owned real estate company with full-time Professional REALTORS®. We have been in business in Madison since 1990 and have helped hundreds of people and families buy and sell homes throughout the years all over Madison, Dane County and the surrounding counties. The Civil Homes REALTORS® is licensed in the State of Toronto. 
                             <br>
                             <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We pride ourselves on the quality of service that we provide, not the quantity that we sell. We find that our clients are extremely satisfied with the services we provide, because they know that our first concern is always their best interests. The wants and needs of our clients are always at the forefront of our business practices and are the driving force behind all that we do.
                             <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We pride ourselves on the quality of service that we provide, not the quantity that we sell.
                           </p>
                       </div>
        
    
                    </div>
        </div>
<p>
<h5 style="text-align:center;"><a href="/public/PDF/resume.pdf"> Resume </a></h5>
</p>