<p align="center"><img width="200" height="230"src="./Assets/images/laxman.jpeg"></p>

<p align="right"> <h4 text-align="center" background-color= blue; > About Me Full Description</h4></p>
<div style="background-color:transparent;width:80%;margin-left: auto;margin-right: auto">
    <header style="width:100%;height:150px;margin-bottom:5px;background-image:url('images/tauko.jpg');background-size: cover;position: relative;">
        <h1 style="background-color:white;display:inline;position: absolute;left: 30%;top:30%;padding-left: 20px;padding-right: 20px;">Protected Areas of Nepal</h1>
        
    </header>
    <main style="width: 100%;background-color: #2b8546; color: lightblue">
        
        <div style="background-color: lightblue;margin-bottom: 10px">
            <h3 style="padding-left: 40px;padding-top:20px;color: #AA7439">Protected Areas in Nepal</h3>
            <div style="width: 100%;height:100%;background-color:lightblue;">
                <img src="images/gaida.jpg" alt="image of rhino in chitwan national park, Nepal" width="35%;" style="float: right;margin-left: 20px;margin-right:20px;">
               <p style="padding-left:15px; padding-right: 10px; color:#696969;margin:20px;text-align: justify;line-height:1.7;padding-bottom: 20px;">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A small country rich in biodiversity, Nepal has not left any stone unturned to protect these species. Within the small area, Nepal has managed to set up many protected areas around the country. These protected areas mainly consists of the forested area.The Botanists have recorded <b>1,120 species of non-flowering plants</b> and <b>5,160 species of flowering plants</b> in Nepal that makes Nepal the 10th richest country in flowering plants in Asia. 181 species of mammals, 844 species of birds, 100 species of reptiles, 43 species of amphibian, 185 species of freshwater fishes, and 635 species of butterfly are recorded in Nepal. Keeping in mind the vast floral and faunal diversity, the government of Nepal has established many protected areas in the country. For more than a century the creation of national parks and protected areas was a major threat to the survival of indigenous peoples. Conservation through cultural suvival chronicles and assesses cutting-edge efforts to establish new kinds of parks and protected areas that are based on partnerships with indigenous peoples. Strict rules and regulations should be implimented for the preservation of protected areas of Nepal. The issues and strategies for the protect area are given below: 
                 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A small country rich in biodiversity, Nepal has not left any stone unturned to protect these species. Within the small area, Nepal has managed to set up many protected areas around the country. These protected areas mainly consists of the forested area.The Botanists have recorded 1,120 species of non-flowering plants and 5,160 species of flowering plants in Nepal that makes Nepal the 10th richest country in flowering plants in Asia. 181 species of mammals, 844 species of birds, 100 species of reptiles, 43 species of amphibian, 185 species of freshwater fishes, and 635 species of butterfly are recorded in Nepal. Keeping in mind the vast floral and faunal diversity, the government of Nepal has established many protected areas in the country. For more than a century the creation of national parks and protected areas was a major threat to the survival of indigenous peoples. Conservation through cultural suvival chronicles and assesses cutting-edge efforts to establish new kinds of parks and protected areas that are based on partnerships with indigenous peoples. Strict rules and regulations should be implimented for the preservation of protected areas of Nepal. The issues and strategies for the protect area are given below: 
               </p>
                   
               
            </div>
            
                
            
        </div>
<p><button class="active"><a href="/public/PDF/resume.pdf"> Resume </a></button></p>