<!-- Bottom Nav -->
    
    <footer>
    
       <nav class="navbar fixed-bottom navbar-dark bg-dark">
           <h5 class="display-6 navbar.text"> <h4 style="color:white;">&copy; Copyright 2020. All right reserved.</h4>
       </nav>
   
    </footer>