<!-- Bottom Nav -->
    
    /div>
            <footer>
                    <p style="font-size: medium;">I appreciate your contents: <br>
                        <a href="https://www.staples.ca" style="text-decoration: none;color:lavender">Staples.ca</a>
                        | <a href="https://www.bestbuy.ca" style="text-decoration: none;color:lavender">bestbuy.ca</a> | 
                         
                         <br>
                    Laxman Gothe | COMP213-001 | Fall 2019
                <br>&copy;&nbsp;Copyright Centennial College - Assignment 3  <br>
            <a href="../index.html">BACK TO INDEX</a></p>
            </footer>

        </div>
   