<body>
    

   <div style="background-color: lightblue;margin-bottom: 10px">
                    <h3 style="padding-left: 40px;padding-top:10px;color: #AA7439">Welcome to My site</h3>
                    <div style="width: 100%;height:100%;background-color:lightblue;">
                        <img src="./Assets/images/homeimg.png" alt="3D Picture" width="250" style="float: right;margin-left: 20px;margin-right:20px;">
                       <p style="padding-left:15px; padding-right: 10px; color:#696969;margin:20px;text-align: justify;line-height:1.7;padding-bottom: 20px;">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A small country rich in biodiversity, Nepal has not left any stone unturned to protect these species. Within the small area, Nepal has managed to set up many protected areas around the country. These protected areas mainly consists of the forested area.The Botanists have recorded <b>1,120 species of non-flowering plants</b> and <b>5,160 species of flowering plants</b> in Nepal that makes Nepal the 10th richest country in flowering plants in Asia. 181 species of mammals, 844 species of birds, 100 species of reptiles, 43 species of amphibian, 185 species of freshwater fishes, and 635 species of butterfly are recorded in Nepal. Keeping in mind the vast floral and faunal diversity, the government of Nepal has established many protected areas in the country. For more than a century the creation of national parks and protected areas was a major threat to the survival of indigenous peoples. Conservation through cultural suvival chronicles and assesses cutting-edge efforts to establish new kinds of parks and protected areas that are based on partnerships with indigenous peoples. Strict rules and regulations should be implimented for the preservation of protected areas of Nepal. The issues and strategies for the protect area are given below: 
                         <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A small country rich in biodiversity, Nepal has not left any stone unturned to protect these species. Within the small area, Nepal has managed to set up many protected areas around the country. These protected areas mainly consists of the forested area.The Botanists have recorded 1,120 species of non-flowering plants and 5,160 species of flowering plants in Nepal that makes Nepal the 10th richest country in flowering plants in Asia. 181 species of mammals, 844 species of birds, 100 species of reptiles, 43 species of amphibian, 185 species of freshwater fishes, and 635 species of butterfly are recorded in Nepal. Keeping in mind the vast floral and faunal diversity, the government of Nepal has established many protected areas in the country. For more than a century the creation of national parks and protected areas was a major threat to the survival of indigenous peoples. Conservation through cultural suvival chronicles and assesses cutting-edge efforts to establish new kinds of parks and protected areas that are based on partnerships with indigenous peoples. Strict rules and regulations should be implimented for the preservation of protected areas of Nepal. The issues and strategies for the protect area are given below: 
                       </p>
                           
                           <p>
            <h6> MISSION STATEMENT</h6> Gain Knowledge on Technology and Work as A Leading Professinal with Sound Knowledge.
        </p>
                       
                    </div>
                </div>
                 <p>
            class="active"><a href="/about">About Page</a>
        </p>
                <div >
                <div class="social" style="float:left;clear:none;float: right;">
                    
                   <a href="https://www.facebook.com/IUCNProtectedAreas/"><img src="./Assets/images/fbcolor.png"></a>
                                            
                    <a href="https://www.instagram.com/redlist_of_ecosystems/?hl=en"><img src="./Assets/images/InstaColor.png"></a>
                
                    <a href="https://twitter.com/IUCN_PA"><img src="./Assets/images/twitterColor.png"></a>
                    <a href="https://plus.google.com/+IUCNRedListofEcosystems"><img src="./Assets/images/gPlusColor.png"></a>
            </div>
            </div>
    
</body>