<body>
    
    <div class="content">
        <h4>Welcome to COMP229-005-Web Application Development</h4>
        <img src="./Assets/images/lax.jpeg" width="400" height="200" >
        <p>
            <h6> MISSION STATEMENT</h6> Gain Knowledge on Technology and Work as A Leading Professinal with Sound Knowledge.
        </p>
        <p>
            <a href="/about"> About </a>
        </p>
    </div>
    
</body>