<div class="row">
    <div class="column">
        <img src="./Assets/images/banking.jpg" width="350" height="250" >
        <p> The main purpose to develop this project is<br>
            to roll the dice. we have two diaces here, <br>
            when we click on the roll button, it shows<br>
            the number and also shows the total number<br>
            by adding the number of both dice.</p>
    </div>
    <div class="column">
        <img src="./Assets/images/bmr.png" width="350" height="250" >
        <p> This is the Slot Machine Project. The main<br>
            purpose to develop this project is to show<br>
            how the jackpot works. When we bet  amount<br>
            and play,it shows either we win the game or<br>
            loose. It shows credic, balance and jackpot.</p>
    </div>
    <div class="column">
        <img src="./Assets/images/hospital.jpg" width="350" height="250" >
        <p> This is a 5 page project of Web Application<br>
            The main purpose to develop this project is <br>
            to run multi-pages and show the importance <br>
            of each pages. Home, About, Products, Services<br>
            and Contact pages are the pages of this project</p>
    </div>
 </div>