
  <div id="contentEditable">
                        
<div class="row">
    <div class="column">
        <img src="./Assets/images/banking.jpg" width="355" height="250" >
        <p> Ihis banking application project is developed<br>
            by using GUI application on .Net. In this  <br>
            project we can deposit, withdraw, checking<br>
            individual balance and statements which we <br>
            see generally in normal banking operation.</p>
    </div>
    <div class="column">
             <img src="./Assets/images/bmr.png" width="355" height="250" >
        <p> This is the Slot Machine Project. The main<br>
            purpose to develop this project is to show<br>
            how the jackpot works. When we bet  amount<br>
            and play,it shows either we win the game or<br>
            loose. It shows credic, balance and jackpot.</p>
    </div>
    <div class="column">
        <img src="./Assets/images/hospital.jpg" width="355" height="250" >
        <p> This is a 5 page project of Web Application<br>
            The main purpose to develop this project is <br>
            to run multi-pages and show the importance <br>
            of each pages. Home, About, Products, Services<br>
            and Contact pages are the pages of this project</p>
     </div>
  </div>
 </div>
 
 