<body>
    
       <div style="background-color: lightblue; width: 100%; display: flex;box-sizing: border-box"> 
        <div class="holdingContainer">
          <div class="contentEditable">             
              <img class = "designer" src="./Assets/images/banking.jpg" width = "300" />
              This banking application project is developed by using GUI application on .Net. In this project we can deposit, withdraw, checking individual balance and statements which we see generally in normal banking operation.
            </div>
       
     
    
        <div class="contentEditable1">             
            <img class = "designer" src="./Assets/images/bmr.png" width="300" />
            
              In BMR calculator project, I have used the JavaScript language. This calculator estimates your basal metabolic rate. In this project we can calculate BMR of certain age limit with their weight and height of a particular gender.
            </div>
        
           <div class="contentEditable2">             
            <img class = "designer" src="./Assets/images/hospital.jpg" width="300"  />
                This project was completed by using advanced database concepts. In this project we can do normal booking for an appointment of a doctor,patient registration, employee registration,prescription provided by the doctor and followup.
           </div>
        
        </div>
        
        </div>
 
</body>

 
 