<body>
    <div id="holdingContainer">
 <div style="background-color: lightblue;margin-bottom: 15px"> 
     <h3 style="padding-left: 40px;padding-top:10px;color: #AA7439">
        <h1 style="text-align:center;">Welcome to My site</h1> 
        <div style="width: 100%;height:100%;background-color:lightblue;"></div>
          <div id="contentEditable">             
            
             <div class="column">
              <img src="./Assets/images/banking.jpg" width="350" height="200">
              <p> This banking application project is developed<br>
                 by using GUI application on .Net. In this  <br>
                 project we can deposit, withdraw, checking<br>
                 individual balance and statements which we <br>
                 see generally in normal banking operation.</p>
            </div>
     
    
           <div class="column">
             <img src="./Assets/images/bmr.png" width="350" height="200" >
              <p> In BMR calculator project, I have used the<br>
                  JavaScript language. This calculator estimates <br>
                  your basal metabolic rate. In this project <br>
                  we can calculate BMR of certain age limit with <br>
                  their weight and height of a particular gender.</p>
           </div>
           <div class="column">
               <img src="./Assets/images/hospital.jpg" width="350" height="200" >
               <p> This project was completed by using advanced<br>
                   database concepts. In this project we can do <br>
                   normal booking for an appointment of a doctor,<br>
                   patient registration, employee registration,<br>
                   prescription provided by the doctor and followup.</p>
           </div>
      </div>
  </div>
</div>
 </body>


 
 