<div class="row">
    <div class="column">
        <img src="./Assets/images/mobile.jpg" width="350" height="250" >
    </div>
    <div class="column">
        <img src="./Assets/images/game.jpg" width="350" height="250" >
    </div>
    <div class="column">
        <img src="./Assets/images/quality.jpg" width="350" height="250" >
    </div>
    <br><p><b>Services we provides are:</b></p><br>
    <ul style="list-style-image:url(images/bullet.png);">
    <li>Mobile Development  📲;</li>
    <li>Game Development  🎮;</li>
    <li>Wuality Assurance&#127902;</li>
    <li>Technical Support&#128218;</li>
    </ul>
</div>