<div class="row">
    <div class="column">
        <img src="./Assets/images/mobile.jpg" width="350" height="250" >
    </div>
    <div class="column">
        <img src="./Assets/images/game.jpg" width="350" height="250" >
    </div>
    <div class="column">
        <img src="./Assets/images/quality.jpg" width="350" height="250" >
    </div>
    <br><p><b>Services we provides are:</b></p><br>
    <ul style="list-style-image:url(images/bullet.png);">
    <li>Playing Football&#127944;</li>
    <li>Travelling New Places&#127890;</li>
    <li>Watching Movies&#127902;</li>
    <li>Reading Books&#128218;</li>
    <li>Writing Essay&#10002;</li>
    <li>Playing Soccer&#9917;</li>
    <li>Swimming&#127946;</li>
    <li>Writing Poems&#10002;</li>
    <li>Playing Pingpong&#127955;</li>
    <li>Playing Badminton&#127992;</li>
    </ul>
</div>