<div class="row">
    <div class="column">
        <img src="./Assets/images/mobile.jpg" width="350" height="250" >
    </div>
    <div class="column">
        <img src="./Assets/images/game.jpg" width="350" height="250" >
    </div>
    <div class="column">
        <img src="./Assets/images/quality.jpg" width="350" height="250" >
    </div>
    <h3>Our Services:</h3> <br>
        <p>We work for several aspects of IT related tasks. Our Main purpose is to make sure on the Quality of our products.
            Similarly, Web designing, coding by using C#, JavaScript, Database are our major focus. We provide service to the customer
            in a fast paced way. All the customers are happy with our Service.
        </p> 
</div>